.Results {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #121420;

    & hr {
        margin-bottom: 0.5em;
    }
}

.Results > .details {
    border-radius: 0.5em;
}

#entrie-id {
    color: rgb(168, 168, 168);
    font-weight: 600;
    font-size: 0.55em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    position: absolute;
    right: 0.2em;
    top: 0.2em;
}

.Results .details summary {
    user-select: none;
    color: #ffffff00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.2em;
    border-bottom: none;
    padding: 0.5em;
    padding-bottom: 0.5em;
    background-color: #1b2432;
    position: relative;

    .summary-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0.2em;
    }

    .summary-text {
        color: rgb(227, 227, 227);
    }

    & .command-title {
        justify-self: center;
        color: var(--text-color-white);
        padding: 0em 0.5em;
        border-bottom: none;
        font-family: sans-serif;
        width: 100%;
    }

    & .field {
        color: var(--text-color-blue);
        font-weight: 500;
        font-size: 0.8em;
    }

    & .command-subject {
        color: var(--text-color-white);
        background-color: #414141;
        padding: 0em 0.5em;
        font-size: 0.8em;
        width: 15%;
    }

    .markdown-summary {
        background: var(--background-markdown);
        padding: 0.2em 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        height: fit-content;
        font-size: 0.8em;
        margin-bottom: 0.5em;
        border: 1px solid rgb(70, 70, 70);
        border-radius: 0.2em;
        /* overflow-x:auto; */
        position: relative;
    }
}

.expand-div {
    align-self: center;
    color: rgb(163, 163, 163);
    text-align: center;
    display: flex;

    & p {
        font-size: 0.7em;
        margin-right: 0.5em;
        width: 3em;
    }
}

.toggle-view {
    color: rgb(163, 163, 163);
}

code {
    color: rgb(45, 219, 103);
    text-wrap: nowrap;
    font-size: 0.8em;
}
pre {
    color: rgb(45, 219, 103);
    text-wrap: nowrap;
    font-size: 0.7em;
}

.Results > .details {
    background: #1b2432;
    margin-top: 0.5em;
}

.copy-button {
    position: absolute;
    right: 0.5em;
    border: none;
    font-size: 0.75em;
    padding: 0em 0.3em;
    background: rgb(13, 110, 253);
    color: rgb(255, 255, 255);
    transition: 0.3s;
    
    &:hover {
        background: rgb(9, 89, 209);
    }
    
    &:active {
        background: rgb(7, 70, 165);
    }
}

.copy-button .example {
    top: -1.6em;
}

.copy-button, .summary {
    bottom: -1.6em;
}

.Results .result-card {
    padding: 0em 2em 1.5em 2em;
    width: 100%;
    background-color: #2b3749;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.778) inset;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.778) inset;
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.778) inset;
    text-wrap: balance;

    /* FLEX */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > .title {
        align-self: flex-start;
        color: rgb(0, 191, 0);
        font-weight: 600;
    }

    .info-header {
        align-self: flex-start;
        margin-top: 0.5em;
    }

    & > .markdown {
        border: 1px solid var(--border-color);
        color: var(--text-color-white);
        border-radius: 0.2em;
        background: var(--background-markdown);
        width: 100%;
        padding: 0.5em;
        text-align: left;
        font-size: calc(100% - 0.2em);
        /* overflow-x: scroll; */
        position: relative;

        display: flex;
        &::-webkit-scrollbar {
            display: none;
            visibility: hidden;
        }
    }





    & > .description {
        font-size: 0.7em;
        color: var(--text-color-white);
        width: 100%;
        text-wrap: wrap;
        margin-bottom: 0.5em;
        text-wrap: no-wrap;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    & > .examples {
        font-size: 0.7em;
        color: var(--text-color-white);
        width: 100%;
    }
}

.Results .related {
    background: #2c2b3c;
    color: var(--text-color-white);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 1em;
    padding: 0em 0.1em;
    gap: 0.6em;

    & p {
        color: rgb(175, 175, 175);
    }

    & > .related-subject {
        margin-left: 0.5em;
        color: rgb(175, 175, 175);
        font-size: 0.7em;
        border: 1px solid var(--border-color);
        border-radius: 0.3em;
        height: fit-content;
        padding: 0em 0.4em;
        transition: 0.2s;
        font-family: monospace;
        font-size: 0.6em;

        &:hover {
            transform: scale(var(--hover-scale));
            background: var(--background-black);
            cursor: pointer;
            color: var(--text-color-white);
        }
    }
}

.Results > .no-result-card {
    text-align: center;
    & .no-results {
        margin-top: 0.5em;
    }
}
