:root {
    /* TEXT */
    --text-color-faintblue: #67667b;
    --text-color-blue: #72b9ff;
    --text-color-white: #e2e2e2;
    --text-color-green: rgb(45, 219, 103);

    /* GUI-COLORS */
    --card-background: #1b2432;
    --background-darkgrey: #4c4b61;
    --background-main: #121420;
    --background-black: #1c1c1c;
    --background-markdown: #282828;
    --border-color: #4e4e4e;
    --button-color-blue: rgb(13, 110, 253);
    --button-color-blue-hover: rgb(68, 143, 255);
    --button-color-blue-active: rgb(34, 76, 138);
    --button-color-green: rgb(32, 107, 35);
    --button-color-green-hover: rgb(29, 95, 31);
    --button-color-green-active: rgb(24, 79, 26);
    --button-color-red: rgb(135, 31, 31);
    --button-color-red-hover: rgb(161, 36, 36);
    --button-color-red-active: rgb(104, 24, 24);

    /* ANIMATION */
    --hover-duration: 0.2s;
    --hover-scale: 1.1;
}
