.Search {
    margin: 1em;

    /* FLEX */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Search .search-container {
    width: 100%;
    position: sticky;
    top: 0em;
    border: 15px solid var(--background-darkgrey);
    border-radius: 0em 0em 0.3em 0.3em;
    z-index: 10;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.767);

    & input {
        padding-left: 0.5em;
        width: 100%;
        background-color: rgb(34, 34, 34);
        color: white;
        border: none;
        transition: 0.1s;
        outline: 0px solid var(--button-color-blue);
        
        &::placeholder {
            font-size: 0.7em;
        }
        
        &:focus {
            transition: 0.2s;
            outline: 2px solid var(--button-color-blue);
        }
    }
}

.dropdown-item {
    color: var(--text-color-blue);
    padding-left: 0.5em;
    transition: 0.2s;

    &:nth-child(odd) {
        background: var(--background-darkgrey);
    }

    &:nth-child(even) {
        background: var(--card-background);
    }

    &:hover {
        color: white;
        /* transform: scale(1.05); */
        outline: 2px solid var(--text-color-blue);
    }
}

.sort-container {
    gap: 0.4em;
    position: absolute;
    height: 100%;
    right: 0em;
    /* height: 100%; */
    display: flex;


    
    & p {
        font-size: 0.6em;
    }
}

#dropdown-basic-button {
    padding: 0em 0.2em;
    height: 100%;
    border-radius: 0px;
    width: 6em;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

.admin-button {
    font-size: 0.75em;
    margin-top: 0.1em;
    height: 2.05em;
    padding: 0em 0.5em;
    background: var(--button-color-green);
    border: none;
    color: white;
    transition: 0.2s;

    &:hover {background: var(--button-color-green-hover);}
    &:active {background: var(--button-color-green-active);}
}

.Search > #results-text {
    margin-top: 1em;
    font-size: 0.8em;
    align-self: flex-start;
    transition: 0.3s;
}

.Search > #results-text-error {
    color: rgb(255, 40, 40);
    margin-top: 1em;
    font-size: 0.8em;
    align-self: flex-start;
    transition: 0.3s;
    animation: focus-error-message 2s infinite;
}

@keyframes focus-error-message {
    0% {
        color: var(--text-color-blue);
        transform:scale(1);
    }
    50% {
        color: rgb(255, 20, 20);
        transform:scale(1.01);
    }
    
    100% {
        color: var(--text-color-blue);
        transform:scale(1);
    }
}