.Search {
    margin: 1em;

    /* FLEX */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
.Search > input {
    position: sticky;
    top: 0em;
    border: 15px solid var(--background-darkgrey);
    border-radius: 0em 0em 0.3em 0.3em;
    padding-left: 0.2em;
    width: 100%;
    z-index: 10;
=======
.Search .search-container {
    width: 100%;
    position: relative;
>>>>>>> dev

    & input {
        padding-left: 0.2em;
        width: 100%;
    
        &::placeholder {
            font-size: 0.7em;
        }
    }
}

.sort-container {
    gap: 0.4em;
    position: absolute;
    height: 100%;
    right: 0em;
    height: 100%;
    display: flex;
    
    & p {
        font-size: 0.6em;
    }
}

#dropdown-basic-button {
    padding: 0em 0.2em;
    height: 100%;
    border-radius: 0px;
    width: 6em;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

.Search > #results-text {
    margin-top: 1em;
    font-size: 0.8em;
    align-self: flex-start;
    transition: 0.3s;
}

.Search > #results-text-error {
    color: rgb(255, 40, 40);
    margin-top: 1em;
    font-size: 0.8em;
    align-self: flex-start;
    transition: 0.3s;
    animation: focus-error-message 2s infinite;
}

@keyframes focus-error-message {
    0% {
        color: var(--text-color-blue);
        transform:scale(1);
    }
    50% {
        color: rgb(255, 20, 20);
        transform:scale(1.01);
    }
    
    100% {
        color: var(--text-color-blue);
        transform:scale(1);
    }
}